* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
}

.App {
    background-image: url("https://www.pexels.com/photo/1103970/download/");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
