.testPage .head {
  height: 100%;
  padding-top: 170px;
  padding-bottom: 170px;
  min-width: 500px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.testPage .head iframe{
  width: 540px;
  height: 315px;
}
.testPage .head h4 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}
.testPage .docView {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.testPage .docView .wrapper{
  max-width: 1120px;
}

@media screen and (max-width: 768px) {
  .testPage .docView .wrapper .my-doc-viewer-style {
    width: 100%;
  }
  .testPage .head{
    flex-direction: column;
  }
  .testPage .head iframe{
    width: 100%;
  }
}